* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
.main {
   width: 100%;
   min-height: 100vh;
   display: grid;
   grid-template-columns: 300px 1fr;
   background: #fff;
}
.sidebar__wrapper {
   margin-top: 30%;
   margin-left: 5%;
}
h2 {
   background: #ddd;
   text-align: center;
   color: #333;
   padding: 10px 0;
   border-radius: 10px 10px 0 0;
}
.sidebar {
   padding: 30px;
   background: #eee;
   color: #ddd;
   border-radius: 0 0 10px 10px;
}

.form input,
.form button,
select {
   width: 100%;
   height: 40px;
   margin-top: 12px;
   background-color: #ddd;
   color: #333;
   font-weight: 500;
   border: none;
   border-radius: 5px;
}
input::placeholder {
   color: #6e727f;
}
input,select{
    text-indent: 10px;
}


.content {
   padding: 30px;
   margin-top: 50px;
   color: #fff;
}
.wrapper {
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
   margin-top: 12px;
}

.card {
   background: #ddd;
   width: 300px;
   padding: 12px;
   box-shadow: 0 0 10px #0003;
   border-radius: 10px;
   color: #333;
}

p{
    line-height: 25px;
}
